<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name ="Page Object Model Demo">
<test name ="POM Demo test">
<classes>
<class name ="com.qa.testcases.LoginTest"></class>
<class name ="com.qa.testcases.Logina"></class>
</classes>
</test>
</suite>